
﻿@model Joole.Dal.User
﻿@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/login.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.min.css")">
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script>

    </script>
</head>
    <body>
        <a class="btn" data-toggle="modal" data-target="#popupform" style="color: black; margin-left: 90%;">Sign Up</a>
        <div id="popupform" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    @{
                        Html.RenderPartial("_Register");
                    }
                </div>
            </div>
        </div>
        <br />
        <img src="~/Images/joolelogo.PNG" id="logo" />
        <h3 id="signinlabel">Building Product Selection Platform</h3>
        @using (Html.BeginForm("Submit", "Login", FormMethod.Post))
        {
            <div class="center">
                <input type="text" placeholder="Username or Email" class="textbox" name="Useremail" value=@Model.Username required /><br />
                <input type="password" placeholder="password" class="textbox" name="Password" value=@Model.Password required /><br />
                <input type="submit" value="Log In" id="SubmitButton" />
                <label id="errorlbl">@Html.ValidationMessageFor(x => x.Password, @ViewData["AuthError"].ToString(), new { @class = "text-danger" })</label>
            </div>
        }


    </body>
</html>