@using Joole.Service
@model IEnumerable<ProductModel>


@{
    Layout = "~/Views/Shared/_Searchbar.cshtml";
    ViewBag.Title = "ProductSummary";
    if(ViewData["beginningYear"].ToString() =="0")
    {
        ViewData["beginningYear"] = "";
    }
    if (ViewData["endingYear"].ToString() == "2050")
    {
        ViewData["endingYear"] = "";
    }
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Joole</title>
    @Styles.Render("~/Content/JooleStyles/ProductSummary.css")
    @Scripts.Render("~/Scripts/JooleScripts/ProductSummary.js")
</head>
<body>

    <div>
        @*
        @Html.Partial("_Searchbar")
        *@
        <div class="container">
            <div class="filter-display">
                <form>
                    <div id="search">
                        <label>Search: </label>
                        <span>
                            <input type="submit" class="search-btn" value="Save">
                            <a href="~/Product/ProductSummary?Subcategory=@Html.DisplayFor(model => model.First().SubCategory)" class="search-btn" id="clear">Clear</a>
                        </span>
                    </div>
                    <input type="hidden" name="Subcategory" value="@Html.DisplayFor(model => model.First().SubCategory)"/>
                    <div id="productType">
                        Product Type ▲ ▼
                    </div>
                    <div id="modelYear">
                        Model Year:
                        <input type="text" name="beginningYear" id="beginningYear" maxlength="4" size="2" value="@ViewData["beginningYear"]"> - 
                        <input type="text" name="endingYear" id="endingYear" maxlength="4" size="2" value="@ViewData["endingYear"]">
                    </div>
                    <div id="technicalSpecifications">
                        Technical Specifications ▲ ▼
                    </div>
                    <div id="sliders">
                        <p>
                            <label for="airflow-amount">⮃ Airflow (CFM) </label>
                        </p>
                        <div class="slider-container">
                            <input readonly name="airflow-min-amount" type="text" id="airflow-min-amount">
                            <div class="slider" id="airflow-slider"></div>
                            <input readonly name="airflow-max-amount" type="text" id="airflow-max-amount">
                        </div>
                        <p>
                            <label for="power-amount">⮃ Max Power (W) </label>
                        </p>
                        <div class="slider-container">
                            <input readonly name="power-min-amount" type="text" id="power-min-amount">
                            <div class="slider" id="power-slider"></div>
                            <input readonly name="power-max-amount" type="text" id="power-max-amount">
                        </div>
                        <p>
                            <label for="sound-amount">⮃ Sound at max speed (dBA)</label>
                        </p>
                        <div class="slider-container">
                            <input readonly name="sound-min-amount" type="text" id="sound-min-amount">
                            <div class="slider" id="sound-slider"></div>
                            <input readonly name="sound-max-amount" type="text" id="sound-max-amount">
                        </div>
                        <p>
                            <label for="sweep-amount">⮃ Fan sweep diameter (in) </label>
                        </p>
                        <div class="slider-container">
                            <input readonly name="sweep-min-amount" type="text" id="sweep-min-amount">
                            <div class="slider" id="sweep-slider"></div>
                            <input readonly name="sweep-max-amount" type="text" id="sweep-max-amount">
                        </div>
                    </div>
                </form>
            </div>
            <div class="product-display">
                <div id="category-display">
                    <p><b id="Category">@Html.DisplayFor(model => model.First().Category) > </b> <span id="SubCategory">@Html.DisplayFor(model => model.First().SubCategory)</span></p>
                </div>
                <div id="products-display">
                    
                    @foreach (var item in Model)
                    {
                        
                    <div class="product">
                        <a href="~/ProductDetails/Index?id=@Html.DisplayFor(modelItem => item.Product_ID)">
                            <img class="Product.Product_Image" src="@Html.DisplayFor(modelItem => item.Image)" height="150"/>
                        </a>
                        <p class="Manufacturer.Name"><b>@Html.DisplayFor(modelItem => item.Manufacturer)</b></p>
                        <p class="Product.Series"><b>@Html.DisplayFor(modelItem => item.Series)</b></p>
                        <p class="Product.Model"><b>@Html.DisplayFor(modelItem => item.Model)</b></p>
                        <p class="airflow">@Html.DisplayFor(modelItem => item.AirFlow) CFM</p>
                        <p class="max-power">@Html.DisplayFor(modelItem => item.PowerMax) W at max speed</p>
                        <p class="max-sound">@Html.DisplayFor(modelItem => item.SoundAtMaxSpeed) dBA at max speed</p>
                        <p class="sweep-diameter">@Html.DisplayFor(modelItem => item.FanSweepDiameter)" fan sweep diameter</p>
                        <div>
                            <input class="checkbox" id="@Html.DisplayFor(modelItem => item.Product_ID)" type="checkbox" value="Compare" />
                            <label><b>Compare</b></label>
                            <button onclick="compare()" class="btn-add">Add to</button>
                        </div>
                    </div>
                        
                    }
                   
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    var compare;
    $(document).ready(function () {
        compare = function () {
            var list_id = [];
            $("input[type='checkbox']:checked").each(function () {
                list_id.push($(this).attr("id"));
            });
            var param = "";
            console.log(list_id);
            if (list_id[0]) {
                param += "id1=" + list_id[0];
            }
            else {
                param += "id1=0";
            }
            if (list_id[1]) {
                param += "&id2=" + list_id[1];
            }
            else {
                param += "&id2=0";
            }
            if (list_id[2]) {
                param += "&id3=" + list_id[2];
            }
            else {
                param += "&id3=0";
            }
            window.location.href = '@Url.Action("ProductsCompare", "Product")?' + param;

        }
    });
</script>

